<h1>Find Your Match</h1>

<div id="filter-form">

<div>
<button onclick="resetForm()">Reset</button>
</div>
{{> profile-filter}}
</div>

<div id="dog-results" class="active">

    <table id="dog-table">
{{!--         <thead>
            <tr>
                <th>Dog Name</th>
                <th>Dog Photo</th>
                <th>Dog Energy Level</th>
                <th>Dog Gender</th>
                <th>Dog Size</th>
            </tr>
        </thead> --}}
        <tbody>
            {{#each all_dogs}}
                <tr class="collection">
                    <td class="image"><img src="{{this.image}}" class="circle" height="120px" width="120px"></td>
                    <td class="dog_name">{{this.dog_name}}</td>
                    <td class="sex">{{this.sex}}</td>
                    <td class="size">{{this.size}}</td>
                    <td class="energy_level">{{this.energy_level}} energy</td>
                    <td class="send"><a href=""><i class="material-icons">send</i></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{!-- Matches Page --}}
{{!-- <h2 style="text-align: center">Find A Match</h2>
{{> profile-filter}}
<ul class="collection">
    <li class="collection-item avatar">
        <img src="/assets/img/corgi.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://static.pexels.com/photos/356378/pexels-photo-356378.jpeg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://www.adweek.com/files/imagecache/node-blog/sa_article/dog_image_0.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://ghk.h-cdn.co/assets/16/11/gettyimages-500937971.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://fundraising.co.uk/wp-content/uploads/2017/01/dog-1611026_640.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
</ul> --}}
