<h4>Find Your Match</h4>

<div id="filter-form">
{{> profile-filter}}
</div>

<div id="dog-results" class="active" style="margin-right: 30px;">

    <table id="dog-table">
{{!--         <thead>
            <tr>
                <th>Dog Name</th>
                <th>Dog Photo</th>
                <th>Dog Energy Level</th>
                <th>Dog Gender</th>
                <th>Dog Size</th>
            </tr>
        </thead> --}}
        <tbody>
            {{#each all_dogs}}
                <tr class="collection">
                    <td class="image"><img src="{{this.image}}" class="circle" height="120px" width="120px"></td>
                    <td class="dog_name"><h5>{{this.dog_name}}</h5></td>
                    <td class="zip-code"><i class="material-icons dd-icon-text-align">place</i>{{this.zip_code}}</td>
                    <td class="sex">{{this.sex}}</td>
                    <td class="size">{{this.size}}</td>
                    <td class="energy_level">{{this.energy_level}}</td>
                    <td class="send"><a class="modal-trigger tooltipped" data-delay="50" data-tooltip="Nearby Dog Parks" data-position="bottom" href="#modal1" onclick="displayParks()"><i class="material-icons">terrain</i></a></td> 
                    <td class="send"><a class="tooltipped" data-delay="50" data-tooltip="Email to Meet" data-position="bottom" href="mailto:doggydogg@gmail.com"><i class="material-icons">send</i></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Dog Parks Near {{this.dog_name}}</h4>
        {{>yelp_results}}
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
</div>


{{!-- Matches Page --}}
{{!-- <h2 style="text-align: center">Find A Match</h2>
{{> profile-filter}}
<ul class="collection">
    <li class="collection-item avatar">
        <img src="/assets/img/corgi.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://static.pexels.com/photos/356378/pexels-photo-356378.jpeg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://www.adweek.com/files/imagecache/node-blog/sa_article/dog_image_0.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="http://ghk.h-cdn.co/assets/16/11/gettyimages-500937971.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>

    <li class="collection-item avatar">
        <img src="https://fundraising.co.uk/wp-content/uploads/2017/01/dog-1611026_640.jpg" alt="" class="circle">
        <span class="title">Dog's Name</span>
        <p>age <br>
            energy level
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
    </li>
</ul> --}}
