<h1>Find a Dog Park</h1>
<form>
	
</form>
<div id="park-results" class="active">
	<table>
		<thead>
			<tr>
				<th>Image</th>
				<th>Park Name</th>
				<th>Rating</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			{{#each parks}}
				<tr>
					<td><img src="{{this.image_url}}" width="200px"></td>
					<td><h5><a href="{{this.url}}">{{this.name}}</a></h5></td>
					<td><p>{{this.rating}}</p></td>
					<td><p>
						{{this.location.address1}} <br>
						{{this.location.city}} {{this.location.state}} {{this.location.zip}}
					</p></td>				
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>
