{{> header-logged-in}}
<h1>Find a doggy date</h1>

<div id="filter-form">

<div>
<button onclick="resetForm()">Reset</button>
</div>

<form {{!--  action="/dog-results-submit" method="post"  --}}id="dog_form">
	Energy level:<br>
	<select id="energy_level" name="energy_level" class="select">
	  <option value="select" disabled selected>Select an Energy Level</option>
	  <option value="low">Low</option>
	  <option value="medium">Medium</option>
	  <option value="high">High</option>
	  <option value="extra">Extra High</option>
	</select>
	<br><br>
	Sex:<br>
	<select id="sex" name="sex">
	  <option value="select" disabled selected>Select a Gender </option>
	  <option value="male">Male</option>
	  <option value="female">Female</option>
	</select>
	<br><br>
	Size:<br>
	<select id="size" name="size">
		<option value="select" disabled selected>Select a Size</option>
		<option value="xsmall">X-Small</option>
		<option value="small">Small</option>
		<option value="medium">Medium</option>
		<option value="large">Large</option>
		<option value="xlarge">X-Large</option>
	</select>
{{!-- 	<br><br>
	<input type="submit" value="Submit"> --}}
</form> 



</div>

<div id="dog-results" class="active">

	<table id="dog-table">
		<thead>
			<tr>
				<th>Dog Name</th>
				<th>Dog Photo</th>
				<th>Dog Energy Level</th>
				<th>Dog Gender</th>
				<th>Dog Size</th>
			</tr>
		</thead>
		<tbody>
			{{#each all_dogs}}
				<tr>
					<td class="dog_name">{{this.dog_name}}</td>
					<td class="image"><img src="{{this.image}}" width="200px"></td>
					<td class="energy_level">{{this.energy_level}}</td>
					<td class="sex">{{this.sex}}</td>
					<td class="size">{{this.size}}</td>
					<td class="meet"><button>Meet Me</button></td>
				</tr>
			{{/each}}
		</tbody>
	</table>
</div>

