{{> header-logged-in}}
{{>sidenav}}
<div class="dd-matches-container">
    <h4>My Dog's Profile</h4>
	<div id="user-info" style="max-width: 500px;">
		<img src="{{dog.image}}" width="200px">
		<br>
		<h3>{{dog.dog_name}}</h3>
		<h5><span id="age"></span> {{dog.sex}}</h5>
		<br>
		<i class='material-icons dd-icon-text-align' >place</i>Location 
		<input value="{{dog.zip_code}}" disabled type="text" >
		<br>
		<i class="material-icons dd-icon-text-align">info_outline</i>Size
		<input value="{{dog.size}}" disabled type="text" >
		<br>
		<i class="material-icons dd-icon-text-align" >info_outline</i>Energy
		<input value="{{dog.energy_level}}" disabled type="text" >
		<br><br>
		<i class="material-icons dd-icon-text-align" >cake</i>Birthday
		<input value="{{dog.dob}}" disabled type="text" >
	</div>
</div>