{{>sidenav}}
<div class="dd-matches-container">
    <h1>Dog's Profile</h1>
	<div id="user-info">
		<img src="{{dog.image}}" width="200px">
		<br>
		Dog name: {{dog.dog_name}}
		<br>
		Dog location: {{dog.zip_code}}
		<br>
		Birthday: {{dog.dob}}
		<br>
		Energy Level: {{dog.energy_level}}
		<br>
		Sex: {{dog.sex}}
		<br>
		Size: {{dog.size}}
	</div>
</div>